@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0px solid black;
}

body{
     background-color: rgb(59, 132, 216);
}


/* LEFT */
.leftSecReg{
    background-color: rgb(59, 132, 216);
}

/* RIGHT */
.rightSecReg{
    background-image: url(assets/images/spec.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 50px;
    
}

.rightImgD{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 35px;
}

.regD{
     margin: auto;
     padding: 30px 50px;
     margin-bottom: 30px;
} 

.rightHt{
    font-family: "Sono", monospace;
    margin-top: 50px;
    margin-bottom: 40px;
}

label{
    font-family: "Sono", monospace;
}

.rightInp{
    font-family: "Sono", monospace;
    color: black;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px;
}

.inpBtn{
    font-family: "Sono", monospace;
    background-color: rgb(3, 122, 240);
    margin-top: 2.5px;
    margin-bottom: 5px;
    padding: 5px 0;
}


                                  /* RESPONSIVENESS */


@media (min-width: 300px) and (max-width: 767px){

    .rightHt{
    margin-top: 30px;
    margin-bottom: 30px;
}
}

@media (min-width: 300px) and (max-width: 470px){

    .rightInp, .inpBtn{
    width: 160px;
    font-size: 14px;

}
    
    .rightInp{
    padding: 2px 0px 2px 10px;
    }

    .inpBtn{
    padding: 2px 0px;

}

    .regD{
     padding: 30px 30px;
} 
}

@media (min-width: 390px) and (max-width: 470px){

    .rightInp, .inpBtn{
    width: 220px;
    }

}

/* LOGIN PAGE */

.regLink{
    font-family: "Sono", monospace;
    color: rgb(0, 81, 255);
    font-weight: 500;
    margin-bottom: 200px;
}

.loginRightInp{
    font-family: "Sono", monospace;
    color: rgb(0, 0, 0);
    padding: 5px 0px 5px 10px;
    margin: 10px 0px;
}

@media (min-width: 300px) and (max-width: 920px){

    /* .regLink{
    margin-bottom: 20px;
} */

}