@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0px solid black;
}

.regBody, .loginBody{
     background-color: rgb(59, 132, 216);
     background-color: rgb(58, 132, 216)
}


/* LEFT */
.leftSecReg{
    background-color: rgb(59, 132, 216);
    background-color: rgb(58, 132, 216);
}

/* RIGHT */
.rightSecReg{
    background-image: url(assets/images/spec.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 50px;
    
}

.rightImgD{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 35px;
}

.regD{
     margin: auto;
     padding: 30px 50px;
     margin-bottom: 30px;
} 

.rightHt{
    font-family: "Sono", monospace;
    margin-top: 50px;
    margin-bottom: 40px;
}

label{
    font-family: "Sono", monospace;
}

.rightInp{
    font-family: "Sono", monospace;
    color: black;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px;
}

.inpBtn{
    font-family: "Sono", monospace;
    background-color: rgb(3, 122, 240);
    margin-top: 2.5px;
    margin-bottom: 5px;
    padding: 5px 0;
}


                                  /* RESPONSIVENESS */


@media (max-width: 767px){

    .rightHt{
    margin-top: 30px;
    margin-bottom: 30px;
}
}

@media (max-width: 470px){

    .rightInp, .inpBtn{
    width: 160px;
    font-size: 14px;

}
    
    .rightInp{
    padding: 2px 0px 2px 10px;
    }

    .inpBtn{
    padding: 2px 0px;

}

    .regD{
     padding: 30px 30px;
} 
}

@media (min-width: 390px) and (max-width: 470px){

    .rightInp, .inpBtn{
    width: 220px;
    }

}

/* LOGIN PAGE */

.regLink{
    font-family: "Sono", monospace;
    color: rgb(0, 81, 255);
    font-weight: 500;
    margin-bottom: 200px;
}

.loginRightInp{
    font-family: "Sono", monospace;
    color: rgb(0, 0, 0);
    padding: 5px 0px 5px 10px;
    margin: 10px 0px;
}

/* DASHBOARD PAGE */

.dashLeftSec{
    background-color: rgb(58, 132, 216);
    padding: 0px 0px 211px 0px;
}

.hTextD{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.dashIcons{
    width: 30px;
    height: 30px;
}

.navInT{
    margin-left: 17px;
    padding: 10px 0px 10px 9px;
}

           .navInT:hover{
               background-color: white;
               border-start-start-radius: 30px;
               border-end-start-radius: 30px;
               gap: 32px;
           }

.hText, .navHtext, .navText, .boxNum{
    font-family: "Sono", monospace;
}

           .navInT:hover .navText{
                color: rgb(121, 244, 127);
                font-weight: 600;
           }


/* right */

.navHtext{
    margin-right: 20px;
}

.navBar{
    padding-top: 28px;
    padding-bottom: 28px;
}

.menu-icon{
    margin-left: 20px;
    cursor: pointer;
}

.mainBox{
    margin: 25px 0px;
    row-gap: 25px;
    column-gap: 40px;
}

.boxes{
    padding: 15px 15px 20px 10px;
    width: 275px;
}

.nv2{
    margin-top: 10px;
    margin-bottom: 25px;
}

.nv22D{
    padding: 15px 5px;
    margin-left: 5px;
    margin-top: 18px;
    margin-bottom: 40px;
    background-color: rgb(35, 112, 253);
}

.dash3rdSec{
    margin-left: 27px;
    padding-bottom: 59px;
}

.dash3rdSec1{
    background-color: rgb(121, 244, 127);
    column-gap: 1.5px;
    margin-bottom: 20px;
}

.d3SD{
    background-color: rgb(58, 132, 216);
    margin-top: 0.66px;
}

.d3St{
    font-family: "Sono", monospace;
}
    
.d3S1{
    margin-left: 2.4px;
    padding: 10px 5px;
}

.d3S2{
    padding: 10px 5px;
}

.d3S3{
    padding: 10px 5px;
}

.d3S4{
    padding: 10px 5px;
}

.d3S5{
    padding: 10px 5px;
}